<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Employee List</title>
	</head>
	<body>
		<h1>Employee List!</h1>
		<div>
			<nobr>
				<a th:href="@{/employees/add}">Add Employee</a>
				<a th:href="@{/}">Back to Index</a>
			</nobr>
		</div>
		<br/><br/>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Pet</th>
				</tr>
				<tr th:each="employee : ${employees}">
					<td th:utext="${employee.id}">...</td>
					<td th:utext="${employee.firstName}">...</td>
					<td th:utext="${employee.lastName}">...</td>
					<td th:utext="${employee.email}">...</td>
					<td>
						<table>
							<tr th:each="pet : ${employee.pets}">
								<td th:utext="${pet.pet_id}">...</td>
								<td th:utext="${pet.name}">...</td>
								<td th:utext="${pet.species}">...</td>
								<td th:utext="${pet.age}">...</td>
								<td th:utext="${pet.bites}">...</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>